/* OVERALL IMAGE / BANNER CONTAINER */


.loadScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loadScreen p {
    font-size: 5rem;
    color: white;
    animation: textAppear 700ms ease-in 150ms backwards;
  }
  
  @keyframes textAppear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes loading {
    0% {
      opacity: 1;
      height: 100vh;
      border-bottom-left-radius: 0vw;
    }
    50% {
      border-bottom-left-radius: 50vw;
      border-bottom-right-radius: 50vw;
      transform: translateY(0%);
    }
    100% {
      border-bottom-left-radius: 50vw;
      border-bottom-right-radius: 50vw;
      transform: translateY(-100%);
    }
  }
  
  @keyframes webpageAppear {
    from {
      transform: translateY(400px);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .aboutContainer {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
  }