/* OVERALL IMAGE / BANNER CONTAINER */

.bannerContainer {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
}

.bannerImg {
  min-height: 100vh;
  max-height: 100vh;
}

.bannerImg img {
  width: 100vw;
  min-height: 100%;
  object-fit: cover;
}

/* NAV SECTION WITH INITIALS AND LINKS */

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
  }

  .navDivLeft a {
    text-decoration: none;
  }

  .initials {
    border: 3px solid white;
    color: white;
    border-radius: 4px;
    padding: .3rem;
    font-size: 2.5vw;
    font-weight: 600;
    height: 4vw;
    width: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 1vw;
  }

  .initials:hover {
    background-color: rgba(35, 79, 111, 0.5);
    cursor: pointer;
  }

  .navDivCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75vw;
  }

  .navTabs {
    display: flex;
    justify-content: center;
    font-size: 2.2vw;
    align-items: center;
    width: 100%;
  }
  
  .navTabs a {
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 0px 17px;
    padding-bottom: 2px;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navTabs a:hover {
    border: 2px solid white;
    border-radius: 4px;
    margin: 15px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-top: 11px;
  }

  .navTabs a li {
    width: max-content;
    margin-right: 1.5vw;
    margin-left: 10px;
  }

  .dots {
    border: 2px solid white;
    width: 2px;
    height: 2px;
    border-radius: 4px;
    margin-right: 10px;
    background-color: white;
  }

  .navDivRight p {
    font-size: 1.8vw;
  }

  .navDivRight a {
    text-decoration: none;
  }

/* DANNY REGAN FRONT END SECTION */
.dannyRegan {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 4vw;
  color: white;
  background-color: rgba(35, 79, 111, 0.5);
  border: 3px solid white;
  border-radius: 4px;
  width: 28vw;
  padding: 1%;
}

.nameContainer {
  /* width: 100vw; */
  overflow: hidden;
  position: absolute;
  top: 66.7vh;
}

.nameInner {
  white-space: nowrap;
  display: flex;
}

.nameText {
  display: flex;
}

.scrollingName {
  color: white;
  font-size: 10rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.nameInner div {
  animation: scrollLeft 10s linear infinite;
}

.spacer {
  padding: 0px 3vw;
}

@keyframes scrollLeft {
  0% {
      transform: translateX(0%);
  }

  100% {
      transform: translateX(-100%);
  }
}

/* .nameWrapper h1 {
  display: inline-block;
  color: white;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 10rem;
}

@keyframes marquee {
  0% {
    transform: translateX(0%)
  }
  100% {
    transform: translateX(-100%)
  }
} */

.danny,
.regan {
  margin: 0px;
  line-height: 80%;
}

.frontEnd {
  font-size: 70%;
  font-weight: 100;
  margin-top: 2vw;
}

.frontEnd span {
  font-weight: 300;
}

.valueContainer {
  position: absolute;
  right: 7%;
  top: 40%;
  width: 15vw;
  color: white;
  background-color: rgba(35, 79, 111, 0.5);
  padding: 2vw;
  border: 3px solid white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonsContainer {
  padding-top: 3%;
  display: flex;
  justify-content: space-around;
  width: auto;
}


.valueContainer p {
  margin: 0px;
  padding: .5vw;
  font-size: 1vw;
}

button {
  color: white;
  background-color: rgba(250, 250, 250, .3);
  border: 1px solid white;
  border-radius: 4px;
  width: 100%;
  font-size: .85vw;
  padding: .3vw;
}

button:hover {
  cursor: pointer;
  background-color: transparent;
}

.motto {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: white;
  font-size: 1.5vw;
}


/* Menu Navigation Bars */

.menuContainer {
  position: fixed;
  left: 10px;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 30px;
  border: 1px solid;
}

.menuContainer a {
  width: 15px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menuBars {
  width: 100%;
  height: 0;
  border: 1px solid red;
  z-index: 1;
}

.menuContainer a:hover {
  width: 30px;
}




