/* OVERALL IMAGE / BANNER CONTAINER */


.loadIn {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* border-bottom-right-radius: 300px;
  border-bottom-left-radius: 50%; */
  background-color: hsl(205, 30%, 8%);
  z-index: 5;
  animation: loading 750ms ease-in 2.5s forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadIn p {
  font-size: 5rem;
  color: white;
  animation: textAppear 700ms ease-in 150ms backwards;
}

@keyframes textAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    opacity: 1;
    height: 100vh;
    border-bottom-left-radius: 0vw;
    /* border-bottom-right-radius: 0vw; */
  }
  50% {
    border-bottom-left-radius: 50vw;
    border-bottom-right-radius: 50vw;
    transform: translateY(0%);
  }
  100% {
    border-bottom-left-radius: 50vw;
    border-bottom-right-radius: 50vw;
    transform: translateY(-100%);
  }
}

@keyframes webpageAppear {
  from {
    transform: translateY(400px);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.bannerContainer {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
}

.bannerImg {
  min-height: 100vh;
  max-height: 100vh;
}

.bannerImg img {
  width: 100vw;
  min-height: 100%;
  object-fit: cover;
}

/* NAV SECTION WITH INITIALS AND LINKS */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    animation: webpageAppear 700ms ease-out 2.5s;
    color: white;
  }

  .navDivLeft a {
    text-decoration: none;
  }

  .navDivLeft {
    margin: 30px;
  }

  .initials {
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    padding: 4px;
    font-size: 1rem;
    font-weight: 200;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 400ms;
  }

  .initials:hover {
    background-color: hsl(205, 30%, 8%);
    border-radius: 50%;
    cursor: pointer;
  }

  .navDivRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
  }

  .navTabs {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    align-items: center;
    width: 100%;
  }
  
  .navTabs a {
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 0px 9px;
    padding-bottom: 2px;
    /* border-bottom: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-image: linear-gradient(#ffffff 0 0);
    background-position: 0 100%; /*OR bottom left*/
    background-size: 0% 1px;
    background-repeat: no-repeat;
    transition:
      background-size 0.3s,
      background-position 0s 0.3s;
  }

  .navTabs a:hover {
    background-position: 100% 100%;  
    background-size: 100% 1px;
  }

  .navTabs a li {
    width: max-content;
    margin-right: 10px;
    margin-left: 10px;
  }

  /* .dots {
    border: 1px solid white;
    width: 2px;
    height: 2px;
    border-radius: 4px;
    margin-right: 10px;
    background-color: white;
  } */

  .navDivRight p {
    font-size: 1.8vw;
  }

  .navDivRight a {
    text-decoration: none;
  }

/* DANNY REGAN FRONT END SECTION */
.dannyRegan {
  position: absolute;
  top: 45%;
  left: 7%;
  font-size: 3vw;
  color: white;
  animation: webpageAppear 800ms ease-out 2.5s;
}

.frontEnd {
  font-family: "Raleway";
  font-weight: 100;
}

/* .frontEnd span {
  font-family: "Raleway";
  font-weight: 200;
} */

.qualitiesContent ol {
  list-style: none;
  --height: 3.5vw;
  height: var(--height);
  line-height: var(--height);
  overflow: hidden;
}

.qualitiesContent ol li {
  animation: slide-up 18s 4.25s forwards;
}

@keyframes slide-up {
  0%, 5% {
    transform: translateY(0%);
  }
  /* 15%, 23% {
    transform: translateY(-100%);
  }
  26%, 32% {
    transform: translateY(-200%);
  }
  33%, 40% {
    transform: translateY(-300%);
  }
  40%, 42% {
    transform: translateY(-400%);
  }
  42%, 44% {
    transform: translateY(-500%);
  }
  44%, 46% {
    transform: translateY(-600%);
  } */
  30%, 100% {
    transform: translateY(-1400%);
  }
}

.qualitiesContent ol li span {
  font-family: "Raleway";
  font-weight: 300;
  color: #ffffff;
  transform: scale(1,2);
  /* -webkit-text-fill-color: transparent;
  background: linear-gradient(240deg, cyan, rgb(242, 0, 255));
  -webkit-background-clip: text; */
}

.letsWork {
  position: absolute;
  top: 45%;
  right: 6%;
  color: white;
  font-size: 2vw;
  height: 2.7vw;
  line-height: 3vw;
  padding-bottom: 5px;
  font-family: "Raleway";
  background-image: linear-gradient(#ffffff 0 0);
    background-position: 0 100%; /*OR bottom left*/
    background-size: 0% 1px;
    background-repeat: no-repeat;
    transition:
      background-size 0.3s,
      background-position 0s 0.3s;
  animation: webpageAppear 800ms ease-out 2.5s;
}

.letsWork p {
  margin: 0px 15px;
}

.letsWork:hover {
  cursor: pointer;
  background-position: 100% 100%;  
    background-size: 100% 1px;

}

.nameContainer {
  width: 120vw;
  overflow: hidden;
  position: absolute;
  top: 66.7vh;
  animation: webpageAppear 700ms ease-out 2.5s;
}

.nameInner {
  white-space: nowrap;
  display: flex;
}

.nameText {
  display: flex;
}

.scrollingName {
  color: white;
  font-size: 13vw;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.nameInner div {
  animation: scrollLeft 10s linear infinite;
}

.spacer {
  padding: 0px 3vw;
}

@keyframes scrollLeft {
  0% {
      transform: translateX(0%);
  }

  100% {
      transform: translateX(-100%);
  }
}

@keyframes scrollRight {
  0% {
      transform: translateX(-100%);
  }

  100% {
      transform: translateX(0%);
  }
}


/* Menu Navigation Bars */

.menuContainer {
  position: fixed;
  left: 10px;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 30px;
  border: 1px solid;
}

.menuContainer a {
  width: 15px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menuBars {
  width: 100%;
  height: 0;
  border: 1px solid red;
  z-index: 1;
}

.menuContainer a:hover {
  width: 30px;
}




