.nav {
    display: flex;
    justify-content: space-between;
    margin: 15px 30px 0px 30px;
  }
  
  .navTabs {
    display: flex;
    justify-content: space-between;
  }
  
  .navTabs a {
    text-decoration: none;
    list-style: none;
    color: black;
  }
  
  .navDivRight {
    width: 50%;
  }